.full{
    color:white;
    text-align: center;
    text-decoration: underline;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: tomato;
}
.open{
    float: right;
}
.about{
    color: white;
    border: 8px white solid;
    margin: auto;
    width: 65%;
    text-align: center;
}
.gif{
    text-align: center;
}
.under{
    float: left;
    margin: 1%;
}